
  h1 {
    padding: 0px;
    text-align: center;
    color:#872828;
    font-style: italic;
  }

.form-style{
    position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(127, 172, 188, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.form-style .user-style {
    position: relative;
  }
.form-style .user-style input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #1d017a;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .form-style .user-style label
{
    position: absolute;
    top:0;
    left: 0;
    padding: 0px 0;
    font-size: 14px;
    color: #256401;
    pointer-events: none;
    transition: .5s;
}
.form-style input:focus ~ label,
.form-style input:valid ~ label {
  top: -5px;
  left: 0;
  color: #872828;
  font-size: 18px;
}
.button {
    background-color: #e17493;
    border: 2px solid rgb(32, 7, 7);
    border-radius: 28px;
    display: block;
    font-size: 16px;
    font-style: italic;
    height: 56px;
    width:160px;
    margin: 0 auto;
  }
  

  